/* section */
.section {
  width: 100%;

  &_page {
    height: 2000px; // default height
    position: relative;
  }

  &_orange {
    background: $orange-page--color-background;
    color:      $orange-page--color-main;

    .link {
      border-color: $orange-page--color-main;
      color: $orange-page--color-main;

      &:hover {
        border-color: $orange-page--color-hover;
        color: $orange-page--color-hover;
      }
    }

    .quote {
      color: lighten($orange-page--color-main, 20%);
    }
  }

  &_white {
    background: $white-page--color-background;
    color:      $white-page--color-main;

    .link {
      border-color: $white-page--color-main;
      color: $white-page--color-main;

      &:hover {
        border-color: $white-page--color-hover;
        color: $white-page--color-hover;
      }
    }

    .quote {
      color: lighten($white-page--color-main, 20%);
    }
  }

  &__top {
    position: relative;
    width: 100%;
    top: 40px;
    text-align: right;
  }

  &__middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    text-align: center;
  }

  &__try {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);

    &-link {
      text-decoration: none;
      display: block;
      border: solid 2px;
      padding: 4px 20px;
      text-align: center;
    }

    &_soft24 {
      width: 100%;
      padding-left: 100px;
    }
  }

  &__table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    border-collapse: collapse;

    width: 80%;

    &_quotes td {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__organization, &__quote {
    vertical-align: top;
  }

  &__cell-tarif {
    vertical-align: top;
    text-align: center;
  }
}

.cell_right-border {
  border-right: 1px dotted #000;
}
