$white-page--color-main: #000;
$white-page--color-hover: #444;
$white-page--color-background: #fff;

$orange-page--color-main: #eee;
$orange-page--color-hover: #999;
$orange-page--color-background: #f06d06;