$white-page--color-main: #000;
$white-page--color-hover: #444;
$white-page--color-background: #fff;

$orange-page--color-main: #333;
$orange-page--color-hover: #666;
$orange-page--color-background: #f06d06;